@mixin desktop {
    width: 1200px;
    margin: 0 auto;
    transition: 0.3s;
}

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

// 橫幅
#banner{
    background-image: url(./img/banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    // margin-bottom: 20px;
}

// 導覽列
nav{
    // #RGBA
    // 0-9 a-f
    // 00 透明
    // ff 顯示
    background-color: #FFFFFF55;
    // background-color: rgba(255,255,255,0.5);
    position: fixed;
    width: 100%;
    padding: 30px 0;
    

    div {
        @include desktop();

        a{
            text-decoration: none;
            padding: 0 30px;
            color: black;
            font-size: 18px;
            letter-spacing: 3px;

            &:hover{
                color: gray;
            }
        }


    }
    
   
}

// 相片
#box1{
    @include desktop();
    background-color: skyblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    div{
        height: 260px;

        &:nth-child(1){
            color: white;
            font-size: 42px;
            display: grid;
            align-items: center;
            text-align: center;
            font-family: 微軟正黑體;
        }

        &:nth-child(2){
            background-image: url(./img/d-beach-1.jpg);
            background-size: cover;
        }

        &:nth-child(3){
            background-image: url(./img/d-beach-2.jpg);
            background-size: cover;
        }


        
    }

}

#content {
    @include desktop();
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color:#11111122;

    h1{
        grid-column: 1/3;
        padding-top: 30px;
        padding-left: 80px;
    }

    P{
        line-height: 1.5;
        margin-bottom: 20px;
        letter-spacing: 3px;
        margin-top: 45px;
        
    }

    div{
        margin-bottom: 200px;
        padding: 0 80px;
    }


}

// 選單
#menu{
    display: none;
}

// RWD 平板 大於等於768, 小於等於1199

@media screen and (min-width:768px) and (max-width:1199px){
    @mixin pad {
        width: 750px;
        margin: 0 auto;
        transition: 0.3s;
    }

    nav{
        div {
            @include pad();
            display: none;
        }

        #menu {
            display: block;
            
            a{
                display: none;

                &:nth-child(1){
                    display: block;
                }

            }

            &:hover a:nth-child(n+2){
                display: block;
                padding: 20px 40px;
            }
        }

    }

    #box1{
        @include pad();
        // display: grid;
        grid-template-columns: repeat(2,1fr);
        
        div{
            height: 300px;

            &:nth-child(1){
                grid-column: 1 / 3;
    
            }
    
            &:nth-child(2){
                background-image: url(./img/p-beach-1.jpg);
    
            }
    
            &:nth-child(3){
                background-image: url(./img/p-beach-2.jpg);
                
            }
        }

    }

    #content{
        @include pad();
    }
}


// RWD 手機 小於等於767
@media screen and (max-width:767px){
    @mixin phone {
        width: 100%;
        margin: 0 auto;
        transition: 0.3s;
    }

    nav{
        div {
            @include phone();
            display: none; 
        }

        #menu {
            display: block;
            
            a{
                display: none;

                &:nth-child(1){
                    display: block;
                }

            }

            &:hover a:nth-child(n+2){
                display: block;
                padding: 10px 40px;
            }
        }



    }

    #box1{
        @include phone();
        // display: grid;
        grid-template-columns: 1fr;
        
        div{
            height: 450px;
    
            &:nth-child(2){
                
                background-image: url(./img/m-beach-1.png);
                background-size: cover;
    
            }
    
            &:nth-child(3){
               
                background-image: url(./img/m-beach-2.png);
                background-size: cover;
                
            }
        }

    }

    #content{
        @include phone();
        grid-template-columns: 1fr;
       

        h1{
            grid-column: 1/2;
        }


    }
}
